* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary: #d7ed7e;
$secondary: #77861d;
$tertiary: #181818;

::selection {
  background: #5b633a;
  color: white;
}

%api-card {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  flex: 1;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

// %flex-center {
//   @include flex-center;
// }

body {
  font-family: "Antonio", sans-serif;
  color: $primary;
  text-align: center;
  background-color: $tertiary;
}

header {
  color: $primary;
  margin: 2rem;

  h1 {
    font-size: 4rem;
    margin-top: 2rem;
  }

  p {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  span {
    color: $secondary;
  }
}

button {
  color: $primary;
  background-color: $tertiary;
  border: 1px solid $secondary;
  border-radius: 15px;
  padding: 5px 10px;

  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    color: $tertiary;
    background-color: $primary;
  }
}

/* Time */
.time {
  display: none;
}

/* Chart */
.chart {
  height: 200px;
  width: 85%;
  max-width: 350px;
  margin: auto;
}

/* Wind */
.wind {
  @extend %api-card;

  h2 {
    font-size: 1.5rem;
  }
}
.wind-compass {
  height: 6rem;
}
.windDir {
  font-size: 1.25rem;
}

/* Weather */
.weather {
  cursor: pointer;
  @extend %api-card;

  h2 {
    font-size: 1.5rem;
  }
}
.tempSec {
  margin: 1rem;
}
.tempDeg {
  color: $secondary;
  font-size: 4rem;
  line-height: 4rem;
}
.tempDes {
  font-size: 1.25rem;
}

.meee {
  color: whitesmoke;
  margin-top: 3rem;
}

@media screen and (min-width: 580px) and (max-width: 767px) {
  .weather-conatiner {
    @include flex-center;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    @include flex-center;
    max-width: 1080px;
  }
  .chart {
    // background-color: red;
    flex: 2;
    height: 250px;
    width: 400px;
    max-width: 500px;
    // margin: 0 10px;
  }

  .time {
    display: inline-block;
    font-size: 1.25rem;
    min-width: 150px;
  }
  .hours {
    line-height: 4rem;
    font-size: 4rem;
  }
  .minutes {
    font-size: 4rem;
    color: $secondary;
    margin-bottom: 1rem;
  }
  .weather {
    margin-bottom: 1.5rem;
  }
}
